@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@media (max-width: 345px) {
  body {
    zoom: 0.7;
  }
}

@media (min-width: 346px and max-width: 360px) {
  body {
    zoom: 0.88;
  }
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

@keyframes left-to-right-and-right-to-left {
  0% {
    object-position: 0 0;
  }
  50% {
    object-position: 100% 0;
  }
  100% {
    object-position: 0 0;
  }
}
