@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@media (max-width: 345px) {
  body {
    zoom: 0.7;
  }
}

@media (min-width: 346px and max-width: 360px) {
  body {
    zoom: 0.88;
  }
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

@keyframes left-to-right-and-right-to-left {
  0% {
    object-position: 0 0;
  }
  50% {
    object-position: 100% 0;
  }
  100% {
    object-position: 0 0;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 max-w-6xl;
  }

  .realistic-marker-highlight {
    position: relative;
  }
  .realistic-marker-highlight:before {
    content: '';
    background-color: #252530;
    width: 110%;
    height: 1em;
    position: absolute;
    z-index: -1;
    filter: url('#marker-shape');
    left: -0.1em;
    right: -0.1em;
    top: 0.1em;
    padding: 0 0.5em;
  }

  .marker-shape {
    filter: url('#marker-shape');
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --background: 215 11.05% 3.2%;
    --foreground: 215 1.7000000000000002% 97%;

    --muted: 215 8.5% 12%;
    --muted-foreground: 215 1.7000000000000002% 54%;

    --popover: 215 61.6% 5.2%;
    --popover-foreground: 215 1.7000000000000002% 97%;

    --card: 215 61.6% 5.2%;
    --card-foreground: 215 1.7000000000000002% 97%;

    --border: 215 8.5% 12%;
    --input: 215 8.5% 12%;

    --primary: 215 17% 40%;
    --primary-foreground: 215 1.7000000000000002% 97%;

    --secondary: 215 8.5% 12%;
    --secondary-foreground: 215 1.7000000000000002% 97%;

    --accent: 215 8.5% 12%;
    --accent-foreground: 215 1.7000000000000002% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 1.7000000000000002% 97%;

    --ring: 215 17% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
