@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply flex flex-col min-h-screen;
}

body {
  margin: 0;
}

@media (max-width: 345px) {
  body {
    zoom: 0.7;
  }
}

@media (min-width: 346px and max-width: 360px) {
  body {
    zoom: 0.88;
  }
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
